<ul id="rolls">
{{range .}}
    <li>{{.DiceDef}} = {{.Roll}} <a href="#" data-id="{{.Id.Hex}}" class="del">x</a></li>
{{end}}
</ul>

<script src="/static/jquery-2.1.1.min.js"></script>
<input type="text" id="def"/>
<input type="button" value="Roll!" id="roll"/>

<script>
    
    var c=new WebSocket('ws://localhost:3000/sock');
    c.onopen = function(){
      c.onmessage = function(response){
        var data = JSON.parse(response.data);
        console.log(data);
        if (data.Type == "roll"){
            var dice = data.Message;
            $("#rolls").append("<li>"+dice.dice_def+" = "+dice.roll+"</li>")
        }
        if (data.Type == "error"){
            var err = data.Message;
            alert(err)
        }
        if (data.Type == "del_record"){
            var record = data.Message;
            $('.del[data-id="'+record+'"]').parent().remove()
        }
      };
    }
    $("#roll").on("click", function(ev){
        ev.preventDefault()
        var def = $("#def").val()
        c.send(JSON.stringify({"Type": "roll", "Message": def}));
        $("#def").val('')
    })
    $(".del").on("click", function(ev){
          ev.preventDefault()
          c.send(JSON.stringify({"Type": "del_record", "Message": $(this).data("id")}));
    })
</script>